#bigbox{height:600px;background:white;border-radius:10px}
#tit{height:130px;}
#content{height:360px;}
#con{height:300px;margin-top: 30px}
.nspan{color:red;margin-right: 5px;}
#inp1{width: 700px;height:40px}
#inp2{width: 700px;height:40px}
#inp3{width: 700px;height:40px}
.form-control{width: 345px;float: left;height:40px}
#sel{font-size: 18px}
.msg{float:left;margin-left: 10px;margin-top: 7px;color:#3EA0E1;font-size:18px}
#a{background: #FF4741;width:auto;height:3px}
.col-md-12{height: 200px;}
.W_nologin_logo_big{height: 72px;margin: 80px auto 0;width: 200px;}
#redis{width:300px;margin-top:35px;font-size:36px;font-family:微软雅黑}
.rr{height: 4px;background:#FFA00A;width:140px}
.col-sm-2 {font-size:20px;}
.btn {height:40px}
.radio-inline{margin-left:15px}
#wlabel{margin-right:15px}
#but{margin-top:30px;}
#btn1{background:#FFA00A;color: white;width:200px;height: 40px;font-size: 18px;border-radius: 6px}
#footer{height:50px;margin-top: 30px;text-align: center;}
#fleft{width:550px;float:left;}
#fright{width:400px;float:right;}
#tou{width: 150px}
#img{width:100px;height:100px;border-radius:50%}
#tx{margin-top:20px}